body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: #2b5c85;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #2b5c85;
    background-color: #c3d9ec;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#texto {
    text-align: left;
    color: #2b5c85;
}

#horario,
th {
    background-color: #7caed6;
    color: white;
}